nav {
    height: 100px;
    background-color: beige;
 

}
nav p {
    display: inline;
    padding: 50px;
    font-size: 50px;
    border-left: 15px;
    text-align: center
}
h2,h3{
    text-align: center;
}
nav ul {
    list-style:none;
    float: right;
    margin-top: 40px;
}
nav li{
    display: inline;
    text-align: center;
    margin: 10px;
}
nav a{
    display: inline;
    font-size: 2rm;
    text-transform: none;
    color: black
}

